<html>
<head>
    <title>Welcome!</title>
    {% block stylesheets %}
        <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Open+Sans:600'>
        <link rel="stylesheet" href="/login/css/style.css">

        <script type="text/javascript" src="/login/js/jquery-3.3.1.js"></script>
        <script type="text/javascript" src="/login/js/scripts.js"></script>
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-3" type="radio" name="tab" class="forget" hidden><label for="tab-3" class="tab"></label>
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
            <div class="login-form">
                <div class="forget-htm">
                    <div class="group">
                        <label>1111</label>
                        <input type = 'text'>
                    </div>
                </div>
                <div class="sign-in-htm">
                    {{ form_start(lform, {'attr':{ 'action':path('signin_user'),'id':'user_signin'}}) }}
                    <div class="group">
                        <label id="error_signin_text"></label>
                    </div>
                    <div class="group">
                        {{ form_label(lform.email," ") }}
                        {{ form_widget(lform.email, {'attr':{'class':'input', 'placeholder':'Email'}}) }}
                    </div>
                    <div class="group">
                        {{ form_label(lform.password," ") }}
                        {{ form_widget(lform.password, {'attr':{'class':'input', 'placeholder':'Password'}}) }}
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" name="_remember_me" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">

                        {{ form_widget(lform.submit, {'attr':{'class':'button'}}) }}
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-3">Forgot Password?</label>
                    </div>
                        <input type="hidden" name="_target_path" value="/admin" />
                        {{ form_end(lform) }}
                </div>
                <div class="sign-up-htm">
                        {{ form_start(lform, {'attr':{ 'action':path('signup_user'),'id':'user_signup'}}) }}
                    <div class="group">
                        <label id="error_signup_text"></label>
                    </div>
                    <div class="group">
                        {{ form_label(rform.email," ") }}
                        {{ form_widget(rform.email, {'attr':{'class':'input', 'placeholder':'Email'}}) }}
                    </div>
                    <div class="group">
                        {{ form_label(rform.firstName," ") }}
                        {{ form_widget(rform.firstName, {'attr':{'class':'input', 'placeholder':'First Name'}}) }}
                    </div>
                    <div class="group">
                        {{ form_label(rform.lastName," ") }}
                        {{ form_widget(rform.lastName, {'attr':{'class':'input', 'placeholder':'Last Name'}}) }}
                    </div>
                    <div class="group">
                        {{ form_widget(rform.plainPassword.first, {'attr':{'class':'input', 'placeholder':'Password'}}) }}
                    </div>
                    <div class="group">
                        {{ form_widget(rform.plainPassword.second, {'attr':{'class':'input', 'placeholder':'Repeat Password'}}) }}
                    </div>
                    <div class="group">

                        {{ form_widget(rform.submit, {'attr':{'class':'button'}}) }}
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</label>
                    </div>
                        {{ form_end(rform) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
</body>
</html>